In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer
import numpy as np
#from sklearn.neigbours import KNeigboursClassifier

# Box plots for education(nlp)

# import the data

In [3]:
train_data = pd.read_csv('F:\\bizz\\DATA SETS\\box_plot\\TrainingData.csv', index_col = [0])

In [4]:
X = train_data.loc[:, 'Object_Description' :]
X.head()

,Object_Description,Text_2,SubFund_Description,Job_Title_Description,Text_3,Text_4,Sub_Object_Description,Location_Description,FTE,Function_Description,Facility_or_Department,Position_Extra,Total,Program_Description,Fund_Description,Text_1
134338,NaN,NaN,NaN,Teacher-Elementary,NaN,NaN,NaN,NaN,1.0,NaN,NaN,KINDERGARTEN,50471.810,KINDERGARTEN,General Fund,NaN
206341,CONTRACTOR SERVICES,BOND EXPENDITURES,BUILDING FUND,(blank),Regular,NaN,NaN,NaN,NaN,RGN GOB,NaN,UNDESIGNATED,3477.860,BUILDING IMPROVEMENT SERVICES,NaN,BUILDING IMPROVEMENT SERVICES
326408,Personal Services - Teachers,NaN,NaN,TCHER 2ND GRADE,NaN,Regular Instruction,NaN,NaN,1.0,NaN,NaN,TEACHER,62237.130,Instruction - Regular,General Purpose School,NaN
364634,EMPLOYEE BENEFITS,TEACHER SUBS,GENERAL FUND,"Teacher, Short Term Sub",Regular,NaN,NaN,NaN,NaN,UNALLOC BUDGETS/SCHOOLS,NaN,PROFESSIONAL-INSTRUCTIONAL,22.300,GENERAL MIDDLE/JUNIOR HIGH SCH,NaN,REGULAR INSTRUCTION
47683,TEACHER COVERAGE FOR TEACHER,TEACHER SUBS,GENERAL FUND,"Teacher, Secondary (High)",Alternative,NaN,NaN,NaN,NaN,NON-PROJECT,NaN,PROFESSIONAL-INSTRUCTIONAL,54.166,GENERAL HIGH SCHOOL EDUCATION,NaN,REGULAR INSTRUCTION

In [5]:
y = train_data.loc[:, :'Operating_Status']
y.shape

(400277, 9)

In [6]:
y.head()

,Function,Use,Sharing,Reporting,Student_Type,Position_Type,Object_Type,Pre_K,Operating_Status
134338,Teacher Compensation,Instruction,School Reported,School,NO_LABEL,Teacher,NO_LABEL,NO_LABEL,PreK-12 Operating
206341,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,Non-Operating
326408,Teacher Compensation,Instruction,School Reported,School,Unspecified,Teacher,Base Salary/Compensation,Non PreK,PreK-12 Operating
364634,Substitute Compensation,Instruction,School Reported,School,Unspecified,Substitute,Benefits,NO_LABEL,PreK-12 Operating
47683,Substitute Compensation,Instruction,School Reported,School,Unspecified,Teacher,Substitute Compensation,NO_LABEL,PreK-12 Operating

In [7]:
x_test = pd.read_csv('F:\\bizz\\DATA SETS\\box_plot\\TestData.csv', index_col = [0])

c:\users\ibrahim\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
#order the columns so that the predicted data has the same columns as the training
x_test_ordered = pd.DataFrame(x_test, columns=X.columns)

In [9]:
num_cols = X.select_dtypes(include = 'number').columns.to_list()
text_cols = X.select_dtypes(exclude = 'number').columns.to_list()

In [10]:
num_pipe = Pipeline([
    ('imputer', SimpleImputer(strategy='mean'))
])

ct = ColumnTransformer(remainder = 'drop',
                      transformers = [
                          ('num_pipe', num_pipe, num_cols)
                      ])

model_1 = Pipeline([
    ('ct', ct),
    ('classifier', DecisionTreeClassifier(max_depth = 5))#REPLACE WITH KNEIGBOURS CLASSIFIER TO SEE HOW IT PERFORM
])

In [2]:
pc_pairs = zip(y.columns, model_1.named_steps.classifier.classes_)
columns = []
for parent, children in pc_pairs:
    for child in children:
        columns.append(f'{parent}__{child}')

NameError: name 'y' is not defined

In [3]:
model_1.named_steps.classifier.classes_

NameError: name 'model_1' is not defined

In [14]:
model_1.named_steps.classifier.classes_

AttributeError: 'DecisionTreeClassifier' object has no attribute 'classes_'

In [1]:
model_1.fit(X, y);

NameError: name 'model_1' is not defined

In [ ]:
#make predictions
def make_submission(model, x_test_ordered, y_train):
    y_pred = model_1.predict_proba(x_test_ordered)
    
    
    #make list of column names
    pc_pairs = zip(y_train.columns, model_1.named_steps.classifier.classes_)
    columns = []
    for parent, children in pc_pairs:
        for child in children:
            columns.append(f'{parent}_{child}')
            
    #put predictions on a data frame
    df = pd.DataFrame(np.concatenate(y_pred, axis=1), 
                      index = x_test_ordered.index, 
                      columns = columns)
    df= df[sorted(df.columns)]
    date = pd.Timestamp.now().strftime(format='%Y-%m-%d_%H-%M_')
    df.to_csv(f'{date}_submission.csv', index=True, header=True)

In [ ]:
pc_pairs = zip(y_train.columns, model_1.named_steps.classifier.classes_)
columns = []
for parent, children in pc_pairs:
    for child in children:
        columns.append(f'{parent}_{child}')
            
y_pred = model_1.predict_proba(x_test_ordered)
df = pd.DataFrame(np.concatenate(y_pred, axis=1), 
                      index = x_test_ordered.index, 
                      columns = columns)
df= df[sorted(df.columns)]

In [ ]:
#make_submission(model_1, x_test_ordered, y)

# model 2

In [ ]:
# numerical and test features

In [ ]:
X.head()

In [ ]:
num_pipe = Pipeline([
    ('imputer', SimpleImputer(strategy='mean'))
])

ct = ColumnTransformer(remainder = 'drop',
                      transformers = [
                          ('num_pipe', num_pipe, num_cols),
                          ('text_pipe', text_cols )
                      ])

model_1 = Pipeline([
    ('ct', ct),
    ('classifier', DecisionTreeClassifier(max_depth = 5))#REPLACE WITH KNEIGBOURS CLASSIFIER TO SEE HOW IT PERFORM
])